/*************/
/* CSS RESET */
/*************/

:root {
  --comicgeel: #FFE900;
  --white: #ffffff;
}



/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

@font-face {
  font-family: spiderman ;
  src: url(../fonts/The\ Amazing\ Spider-Man.woff2);
}

@font-face {
  font-family: panel ;
  src: url(../fonts/Comic\ Panels.woff2);
}

body {
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

main {
width: 100vw;
display: flex;
justify-content: space-evenly;
align-items: center;
gap: 10px 10px 10px 10px;
height: 100em;
}

button {
  width: 15vw;
  height: 8em;
  background-color: var(--comicgeel); 
  box-shadow: 2px 2px black;
  border: solid 2px black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-family: panel;
  font-size: 16px;
  z-index: 99999;
}

button:hover {
  background-color: red;
}

h1 {
  color: white;
  font-family: spiderman;
  text-align: center;
  font-size: 6em;
  margin: 0.5em auto 0 auto;
  text-align: center;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  text-shadow: 6px 6px 0px red;  
}

a {
  position: absolute;
  text-decoration: none;
  font-family: panel;
  font-size: 1em;
  background-color: white;
  z-index: 99999;

  border: solid 2px black;
  padding: 10px;
  box-shadow: 2px 2px black;
  opacity: 0;
}


ol {
	position:relative;
	
	width:100vmin;
	aspect-ratio:8/6;
/* 	background-color:gold; */
	
	margin:0;
	padding:0;
	list-style:none;
	
	perspective:160vmin;
	transform-style:preserve-3d;
}

li {
	position:absolute;
	width:50%;
	height:100%;
	top:0;
	right:0;
	transform-origin:left;
	transition:1s;
	transform-style:preserve-3d;
}

li > section {
	position: absolute;
  inset: 0;

  border: 2px solid black;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  transition: 1s;
  padding: 0.6em;
  filter: drop-shadow(3px 3px 3px rgb(0 0 0));
  backface-visibility: hidden;
  pointer-events: none;
}

.hover {
  flex-basis: 56%;
  background-size: cover;
  filter: grayscale(0);
}

section section {
  position: relative;
  width: 50%;
  height: 50%;
  background-color: white;

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 40%;
  transition: 1s;
  border: 10px solid white;
  box-shadow: inset 0px 0px 0px 3px black;
  z-index: 9999;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(1);
}

a:nth-of-type(1) {
  margin-top: 25%;
  right: 5%;
  left: 45%;
}

a:nth-of-type(2) {
  margin-top: 60%;
  right: 60%;
  left: 5%;
}

a:nth-of-type(3) {
  right: 5%;
  left: 45%;
  margin-top: 100%;
}

section:nth-of-type(2) section:nth-of-type(2) a {
  margin-top: 5%;
  right: 50%;
  left: 5%;
}

section:nth-of-type(2) section:nth-of-type(3) a {
  margin-top: 5%;
  right: 50%;
  left: 5%;
}



li:nth-of-type(1) > section:nth-of-type(1)  {
  background-image: url(../images/cover.png);
  background-size: cover;
}

li:nth-of-type(1) > section:nth-of-type(1) > section:nth-of-type(1){
  visibility: hidden;
}


li > section:nth-of-type(1)  {
  background-image: url(../images/cover.png);
  background-size: contain;
}

li:nth-of-type(1) section:nth-of-type(2) section:nth-of-type(1) {
  background-image: url(../images/panel4.png);
}

li:nth-of-type(1) section:nth-of-type(2) section:nth-of-type(2){
  background-image: url(../images/panel3.png);
  background-position: 0em 0em;
}
li:nth-of-type(1) section:nth-of-type(2) section:nth-of-type(3){
  background-image: url(../images/panel1.png);
}

li:nth-of-type(1) section:nth-of-type(2) section:nth-of-type(4){
  background-image: url(../images/panel2.png);
}


li:nth-of-type(1) {
	transform:rotateY(-4deg);
}
li:nth-of-type(2) {
	transform:rotateY(-3deg);
}
li:nth-of-type(3) {
	transform:rotateY(-2deg);
}
li:nth-of-type(4) {
	transform:rotateY(-1deg);
}

li:nth-of-type(1).omgeslagen {
	transform:rotateY(-179deg);
}
li:nth-of-type(2).omgeslagen {
	transform:rotateY(-178deg);
}
li:nth-of-type(3).omgeslagen {
	transform:rotateY(-177deg);
}
li:nth-of-type(4).omgeslagen  {
	transform:rotateY(-176deg);
}

li section:nth-of-type(1) {
	background-color:white;
}

li > section:nth-of-type(2) {
	background-color:white;
	transform:rotateY(180deg);
}


img {
  position: absolute;
  top: 42%;
  left: 48%;
  height: 55%;
  width: auto;
  opacity: 0;
  z-index: -1;
}

.show {
  opacity: 1;
}


/********************/
/* ALGEMENE STYLING */
/********************/



/* ... */


