/*ROOT*/

:root {
  --comicgeel: #FFE900;
  --white: #ffffff;
}

*, *::after, *::before {
  box-sizing:border-box;  
}

@font-face {
  font-family: spiderman ;
  src: url(../fonts/The\ Amazing\ Spider-Man.woff2);
}

@font-face {
  font-family: panel ;
  src: url(../fonts/Comic\ Panels.woff2);
}

/*GENERAL*/

body {
  background-size:cover;
  background-repeat: no-repeat;
  background-image: url(../images/background.png);
}

.roze {
  background-image: url(../images/background2.png);
}

.gray {
  background-image: url(../images/background3.png);
}

.black {
  background-image: url(../images/background4.png);
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;

  justify-content: space-evenly;
  align-items: center;
}

button {
  width: 15vw;
  height: 8em;

  background-color: var(--comicgeel); 
  box-shadow: 2px 2px black;
  border: solid 2px black;
  color: black;
  padding: 3% 5%;
  text-align: center;
  text-decoration: none;
  font-family: panel;
  font-size: 100%;
  z-index: 99999;
}

button:hover {
  background-color: red;
  cursor: url(../images/86489.png), auto;
}

h1 {
  width: 100vw;
  color: white;
  font-family: spiderman;
  text-align: center;
  font-size: 400%;
  margin: 0.5em auto 0 auto;
  text-align: center;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  text-shadow: 6px 6px 0px red;  
}

h2 {
  position: absolute;
  width: 100vw;
  color: white;
  font-family: spiderman;
  text-align: center;
  font-size: 400%;
  margin: 0.5em auto 0 auto;
  text-align: center;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  text-shadow: 6px 6px 0px red;  
  z-index: 1;
}

p {
  margin: 5%;
  padding: 5%;

  position: absolute;
  text-decoration: none;
  font-family: panel;
  font-size: 0.5em;
  background-color: white;
  z-index: 99999;

  border: solid 2px black;
  box-shadow: 2px 2px black;
  opacity: 0;
}


ol {
	position:relative;
	width:100vmin;
	aspect-ratio:8/6;
/* 	background-color:gold; */
	
	margin:0;
	padding:0;
	list-style:none;
	
	perspective:160vmin;
	transform-style:preserve-3d;
}

li {
	position:absolute;
	width:50%;
	height:100%;
	top:0;
	right:0;
	transform-origin:left;
	transition:1s;
	transform-style:preserve-3d;
}

img {
  position: absolute;
  top: 42%;
  left: 48%;
  height: 55%;
  width: auto;  
  z-index: -1;
}

/*PANELS*/

li > section {
	position: absolute;
  inset: 0;

  border: 2px solid black;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  transition: 1s;
  padding: 0.6em;
  filter: drop-shadow(3px 3px 3px rgb(0 0 0));
  backface-visibility: hidden;
}

.hover {
  flex-basis: 56%;
  background-size: cover;
  filter: grayscale(0);
}

section section {
  position: relative;
  width: 50%;
  height: 50%;
  background-color: white;

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 40%;
  transition: 1s;
  border: 5px solid white;
  box-shadow: inset 0px 0px 0px 2px black;
  z-index: 9999;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(1);
}

/*TEKSTVAKJES*/

li:nth-of-type(1) section:nth-of-type(2) section:nth-of-type(1) p:nth-of-type(1) {
  margin-top: 25%;
  left: 45%;
}

li:nth-of-type(1) section:nth-of-type(2) section:nth-of-type(1) p:nth-of-type(2) {
  margin-top: 60%;
  right: 60%;
}

li:nth-of-type(1) section:nth-of-type(2) section:nth-of-type(1) p:nth-of-type(3) {
  margin-top: 100%;
  left: 45%;
}

li:nth-of-type(1) section:nth-of-type(2) section:nth-of-type(2) p:nth-of-type(1) {
  margin-top: 50%;
  right: 20%;
}

li:nth-of-type(1) section:nth-of-type(2) section:nth-of-type(3) p:nth-of-type(1) {
  margin-top: 85%;
  right: 45%;
}

li:nth-of-type(1) section:nth-of-type(2) section:nth-of-type(4) p:nth-of-type(1) {
  margin-top: 80%;
  left: 45%;
}

li:nth-of-type(2) section:nth-of-type(1) section:nth-of-type(1) p:nth-of-type(1) {
  margin-top: 50%;
  right: 45%;
}

li:nth-of-type(2) section:nth-of-type(1) section:nth-of-type(1) p:nth-of-type(2) {
  margin-top: 95%;
  left: 20%;
}

li:nth-of-type(2) section:nth-of-type(1) section:nth-of-type(2) p:nth-of-type(1) {
  margin-top: 60%;
  right: 20%;
}

li:nth-of-type(2) section:nth-of-type(1) section:nth-of-type(2) p:nth-of-type(2) {
  margin-top: 90%;
  left: 20%;
}

li:nth-of-type(3) section:nth-of-type(1) section:nth-of-type(1) p:nth-of-type(1){
  margin-top: 70%;
  right: 40%;
}

li:nth-of-type(3) section:nth-of-type(1) section:nth-of-type(1) p:nth-of-type(2){
  margin-top: 100%;
  left: 40%;
}

li:nth-of-type(3) section:nth-of-type(1) section:nth-of-type(2) p:nth-of-type(1){
  margin-top: 5%;
  right: 40%;
}

li:nth-of-type(3) section:nth-of-type(1) section:nth-of-type(2) p:nth-of-type(2){
  margin-top: 95%;
  right: 20%;
}

li:nth-of-type(3) section:nth-of-type(1) section:nth-of-type(3) p:nth-of-type(1) {
  margin-top: 95%;
  right: 50%;
}

/*COVER*/

ol > li:nth-of-type(1)  section:nth-of-type(1)  {
  background-image: url(../images/cover.png);
  background-size: cover;
}

ol > li:nth-of-type(3)  section:nth-of-type(2)  {
  background-image: url(../images/backcover.png);
  background-size: cover;
}

li:nth-of-type(1) > section:nth-of-type(1) > section:nth-of-type(1){
  visibility: hidden;
}

/*PANEL AFBEELDINGEN*/

li:nth-of-type(1) section:nth-of-type(2) section:nth-of-type(1) {
  background-image: url(../images/panel4.png);
}

li:nth-of-type(1) section:nth-of-type(2) section:nth-of-type(2){
  background-image: url(../images/panel3.png);
  background-position: 0em 0em;
}
li:nth-of-type(1) section:nth-of-type(2) section:nth-of-type(3){
  background-image: url(../images/panel2.png);
}

li:nth-of-type(1) section:nth-of-type(2) section:nth-of-type(4){
  background-image: url(../images/panel1.png);
}

li:nth-of-type(2) section:nth-of-type(1) section:nth-of-type(1) {
  background-image: url(../images/panel5.png);
}

li:nth-of-type(2) section:nth-of-type(1) section:nth-of-type(2){
  background-image: url(../images/panel6.png);
}
li:nth-of-type(2) section:nth-of-type(1) section:nth-of-type(3){
  background-image: url(../images/panel7.png);
}

li:nth-of-type(2) section:nth-of-type(1) section:nth-of-type(4){
  background-image: url(../images/panel8.png);
}

li:nth-of-type(2) section:nth-of-type(2) section:nth-of-type(1) {
  background-image: url(../images/panel10.png);
}

li:nth-of-type(2) section:nth-of-type(2) section:nth-of-type(2){
  background-image: url(../images/panel11.png);
}

li:nth-of-type(2) section:nth-of-type(2) section:nth-of-type(3){
  background-image: url(../images/panel12.png);
}

li:nth-of-type(2) section:nth-of-type(2) section:nth-of-type(4){
  background-image: url(../images/panel13.png);
}

li:nth-of-type(3) section:nth-of-type(1) section:nth-of-type(1) {
  background-image: url(../images/panel14.png);
}

li:nth-of-type(3) section:nth-of-type(1) section:nth-of-type(2){
  background-image: url(../images/panel15.png);
}

li:nth-of-type(3) section:nth-of-type(1) section:nth-of-type(3){
  background-image: url(../images/panel17.png);
}

li:nth-of-type(3) section:nth-of-type(1) section:nth-of-type(4){
  background-image: url(../images/panel16.png);
}

/*PAPIER OMSLAAN*/

li:nth-of-type(1) {
	transform:rotateY(-4deg);
}
li:nth-of-type(2) {
	transform:rotateY(-3deg);
}
li:nth-of-type(3) {
	transform:rotateY(-2deg);
}
li:nth-of-type(4) {
	transform:rotateY(-1deg);
}

li:nth-of-type(1).omgeslagen {
	transform:rotateY(-179deg);
}
li:nth-of-type(2).omgeslagen {
	transform:rotateY(-178deg);
}
li:nth-of-type(3).omgeslagen {
	transform:rotateY(-177deg);
}
li:nth-of-type(4).omgeslagen  {
	transform:rotateY(-176deg);
}

li section:nth-of-type(1) {
	background-color:white;
}

li > section:nth-of-type(2) {
	background-color:white;
	transform:rotateY(180deg);
}

.show {
  opacity: 1;
}

/*CUSTOM TEKSTVAKJES*/

#p1 {
  background-color: red;
}

#p2 {
  background-color: gray;
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.7em;
  font-weight: bold;
}

#p3 {
  background-color: black;
  color: var(--comicgeel);
}

#p4 {
  background-color: white;
  color: #ff0065;
}


